.container {
    /* background-color: #ece5e5; */
    padding: 20px;
    font-weight: 900;
    font-size: 15px;
    color: #040b4e;
  }
  button[type=submit] {
    background-color: #3fd0fc;
    color: rgb(27, 25, 25);
    padding: 12px 20px;
    border: 1px;
    border-radius: 4px;
    cursor: pointer;
  }
  button[type=submit]:hover {
    background-color: #57367c;
    color: white;
  }
  input[type=text], select, textarea {
    width: 100%; 
    padding: 12px;  
    border: 1px solid #ccc; 
    border-radius: 4px;
    box-sizing: border-box; 
    margin-top: 6px;
    margin-bottom: 16px; 
    resize: vertical;
  }
  input[type=number]{
    height: 35px;
   width: 100%;
  }
  .sitebar ul li {
    list-style: none;
    padding: 5px;
  font-size:20px ;
  font-weight: normal;
  }
  .sitebar ul li a{
    text-decoration: none;
    padding-left: 20px;
    color: #040b4e;
  }
  .sitebar{
    margin-top: 20px;
  }
  .title{
    padding: 20px 0px 40px;
    text-align: center;
    font-size: 50px;
 
  }
 