/* css reset */
* {
    margin: 0;
    padding: 0;
}

/* font style */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Roboto:wght@500&display=swap');

/* commone style */
body {
    font-family: 'Poppins', sans-serif;

    background-color: #FFFFFF; 
}
.bg-color {
    background-color: rgb(222, 235, 255);
}
.title {
    font-size: 50px;
    font-weight: bold;
    color: rgb(34, 63, 151);
}

/* header style start */
.manu {
    font-size: 20px;
}

/*group-leader start  */
.group-leader{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 27px;
    grid-column-gap: 30px;
    margin-top: 70px;
}
.leader {
    Width: 300px;
    Height: 465px;
    background-color: #FFFFFF;
    border: 15px solid #FFFFFF;
    border-radius: 15px;
    box-shadow: 4px 2px 20px rgb(216, 212, 212);
    text-align: center;
}
.leader-img img {
    width: 270px;
    height: 256px;
}
.leader-info h1 {
    color: #18191F;
    font-size: 28px;
    font-weight: bold;
    padding: 10px 0px;
}

/* scout level style*/
.scout-level .img {
    padding-left: 7rem !important;
}

/* activities style  */
.activities{
    text-align: center;
    padding:0px 140px;
}
.activities .text{
    padding-top: 5px;
    font-weight: 700;
}
.activities img {
    border-radius: 10px;
}
.activities a{
    text-decoration: none;
    color: brown;
}
.activities a:hover{
    color: #6a6ac2;
}
.owl-carousel{
    background-color: ;
}
.owl-carousel img{
    height: 500px;
    padding: 30px 30px 0px;
}
.owl-theme .owl-nav {
	font-size: 70px;
	margin: -20px 0px;
    margin-top: -45px;

}
.owl-theme .owl-nav:hover {
    color: white;
	
}
/* footer style */
.footer-logo img {
    padding: 5px ;
    height: 40px;
    width: 40px;
    border-radius: 50%;
}
.footer_section{
    background-color: rgb(23, 43, 77);
    color: #FFFFFF;
}
