/* css reset */
* {
    margin: 0;
    padding: 0;
}

/* font style */
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;600;700&display=swap');

/* commone style */
body {

    font-family: 'Oswald', sans-serif;
    background-color: #FFFFFF;
}

.bg-color {
    background-color: rgb(246, 217, 255);
}

.nab-bg {
    background-color: #131c57;
}

.title {
    font-size: 50px;
    font-weight: bold;
    color: rgb(98, 34, 151);
}

/* header style start */
.manu {
    font-size: 20px;
}

a.nav-link {
    color: rgb(138, 38, 38);
    padding: 0 30px !important;
}
a.nav-link:hover{
    background-color: #71737a;
    color:  #008f30;
}

.content_section {
    padding: 50px 0px;
    background-color: rgb(245, 239, 239);
}

/*group-leader start  */
.group-leader {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 27px;
    grid-column-gap: 30px;
    margin-top: 70px;
}

.leader {
    Width: 300px;
    Height: 465px;
    background-color: #FFFFFF;
    border: 15px solid #FFFFFF;
    border-radius: 15px;
    box-shadow: 4px 2px 20px rgb(216, 212, 212);
    text-align: center;
}

.leader-img img {
    width: 270px;
    height: 256px;
}

.leader-info h1 {
    color: #18191F;
    font-size: 28px;
    font-weight: bold;
    padding: 10px 0px;
}

/* scout level style*/
.scout-level .sitebar {
    background-color: rgb(207, 227, 252);
}
.scout-level h4 {
    color: #131c57;

}
.scout-level a.nav-link i {
    color: rgb(111, 183, 250);
}

/* activities style  */
.activities_section{
    background-image: url("image/activiti/g23.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.activities {
    text-align: center;
    padding: 0px 140px;
}
.activities .text {
    padding-top: 5px;
    font-weight: 700;
}
.activities img {
    border-radius: 10px;
}
.activities a {
    text-decoration: none;
    color: #1529aa;
}
.activities a:hover {
    color: #008f30;
}

/* owl-carousel style */
.owl-carousel img {
    height: 500px;
    padding: 30px 60px ;
    margin-left: 10px;
    margin-top: 52px;
}
.owl-theme .owl-nav {
    font-size: 70px;
    margin: -20px 0px;
}
.owl-theme .owl-nav:hover {
    height: 15px;
    width: 15px;
}

/* About-us style */
.row .document1{
    margin-bottom:-150px;
}
.row .document1 img{
    margin-left:50px;
}

/* contact-us style */
.contact-us {
    padding: 20px;
    font-weight: 900;
    font-size: 15px;
    color: #040b4e;
  }
.contact-us input[type=submit] {
    background-color: #3fd0fc;
    color: #040b4e;
    padding: 12px 20px;
    border: 1px;
    border-radius: 6px;
    cursor: pointer;
  }
  .contact-us input[type=submit]:hover {
    background-color: #57367c;
    color: white;
  }
  .contact-us input[type=text], select, textarea {
    width: 100%; 
    padding: 12px;  
    border: 1px solid #ccc; 
    border-radius: 4px;
    box-sizing: border-box; 
    margin-top: 6px;
    margin-bottom: 16px; 
    resize: vertical;
  }
  .contact-us input[type=number]{
    height: 35px;
   width: 100%;
  }
  .contact-us .sitebar ul li {
    list-style: none;
    padding: 5px;
  font-size:20px ;
  font-weight: normal;
  }
  .contact-us .sitebar ul li a{
    text-decoration: none;
    padding-left: 20px;
    color: #040b4e;
  }
  .contact-us.sitebar{
    margin-top: 20px;
  }

  .reg_section .input1[type=submit] {
    background-color: #3fd0fc;
    color: #040b4e;
    padding: 12px 20px;
    border: 1px;
    border-radius: 6px;
    cursor: pointer;
  }
  .reg_section .input2[type=submit] {
    background-color: #0c145a;
    color: #47cbf3;
    padding: 12px 20px;
    border: 1px;
    border-radius: 6px;
    cursor: pointer;
  }
 .input1 ,.input2[type=submit]:hover {
    background-color: #57367c;
    color: white;
  }
/* footer style */
.footer-logo img {
    padding: 5px;
    height: 40px;
    width: 40px;
    border-radius: 50%;
}
.footer-logo a {
    padding-left: 10px;
}
.footer_section {
    background-color: rgb(23, 43, 77);
    color: #FFFFFF;
}